# Frontend Environment - Production Example
# ==========================================
# Copy to .env.production.local and update REACT_APP_BACKEND_URL

# REACT_APP_BACKEND_URL=  https://localhost:7121
REACT_APP_BACKEND_URL= http://ezytekapis.com
WDS_SOCKET_PORT=443
ENABLE_HEALTH_CHECK=true
NODE_ENV=production
REACT_APP_DEBUG=false
