# Frontend Environment - Development Example
# ===========================================
# Copy to .env.development.local

# REACT_APP_BACKEND_URL=http://localhost:8001
REACT_APP_BACKEND_URL= http://ezytekapis.com
WDS_SOCKET_PORT=3000
ENABLE_HEALTH_CHECK=false
NODE_ENV=development
REACT_APP_DEBUG=true
